body {
    background-color: lavender;
}


p {
    color: black;
    text-align: center;
    font-family: arial;
    font-size: 40px
}


a {
    color: blue;
    text-align: center;
    font-family: arial;
    font-size: 20px   
}


h1 {
    color: purple;
    text-align: center;
    font-family: arial;
    font-size: 30px
}


h2 {
    color: red;
    text-align: center;
    font-family: arial;
    font-size: 30px
}


h3 {
    color: purple;
    text-align: center;
    font-family: arial;
    font-size: 30px
}


h4 {
    color: red;
    text-align: center;
    font-family: arial;
    font-size: 30px
}


h5 {
    color: purple;
    text-align: center;
    font-family: arial;
    font-size: 30px
}


h6 {
    color: red;
    text-align: center;
    font-family: arial;
    font-size: 30px
}


h7 {
    color: purple;
    text-align: center;
    font-family: arial;
    font-size: 30px
}


h8 {
    color: red;
    text-align: center;
    font-family: arial;
    font-size: 30px
}   


h9 {
    color: purple;
    text-align: center;
    font-family: arial;
    font-size: 30px
}


h10 {
     color: red;
     text-align: center;
     font-family: arial;
     font-size: 30px
         
